/.vscode
/Day 1 — создаем структуру проекта.mp4
/Figma — компоненты. Как делать гибкие макеты.mp4
/Figma — перо инструмент кривых Безье.mp4
/Figma — плагины 🔥 мой топ _ Plugins.mp4
/Figma — сетка Модульные сетки Сетка Bootstrap.mp4
/Figma — слои. Как работать с группами слоев.mp4
/Figma — фигуры _ Линия, Стрелка, Эллипс, прямоугольник, многоугольник, звезда.mp4
/Figma ⭐ Работа с текстом _ text transform. alignment.mp4
/Figma.mp4
/Melody day 1 — github.mp4
/Melody day 1.mp4
/Melody day 2.mp4
/VSCode — установка и настройка редактора.mp4
/Интенсив по верстке — эфир с ответами. День 1.mp4
/Обзор Figma — что это такое Веб-дизайн #1.mp4